.back-btn{
  background-color: #000;
  color:#fff;
  padding: 3px 15px;
  border: none;
  height: 29px;
  line-height: 23px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

input.ng-touched.ng-invalid{
  border: 1px solid red;
  box-shadow: 0 0 22px #ff000030 inset;
}
