<div
  class="card p-lg-2 shadow"
  style="width: 400px; margin: 30px; height: 290px; position: relative"
>
  <h1>First Component</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed sequi
    reprehenderit quam voluptatibus quasi! Vitae repellendus deleniti minima
    laborum aliquid. Repellat iure ipsum sint nostrum aliquam, nulla placeat non
    possimus corrupti id corporis unde?
  </p>
  <button routerLink="/routing-concepts" class="back-btn">Back</button>
</div>

<div class="container d-flex justify-content-evenly">
   <div class="col-md-5">
    <nav>
      <ul>
        <li><a routerLink="child-a">CSS</a></li>
        <li><a routerLink="child-b">Javascript</a></li>
      </ul>
    </nav>
   </div>
   <div class="col-md-5">
    <router-outlet></router-outlet>
   </div>
</div>



