<header class="header">
  <nav>
    <a class="link" routerLink="components" routerLinkActive= "active"> Components Module </a>
    <a class="link" routerLink="essentials" routerLinkActive= "active"> Essentials Module </a>
    <a class="link" routerLink="asynchronous" routerLinkActive= "active"> RXJS Module </a>
    <a class="link" routerLink="crudapp" routerLinkActive= "active"> CRUD Application </a>
  </nav>
</header>

<div class="global-loader">
  <app-loader></app-loader>
</div>

<router-outlet></router-outlet>
