<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center" appHighlight defaultColor="maroon" highlightColor="green">About Component</h1>
      <p appRedBlack>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, laboriosam
        sequi asperiores eos nobis nesciunt iusto quibusdam deserunt atque debitis
        aspernatur molestiae ducimus fugiat, dolor aperiam neque impedit consequatur
        aut quas? Quas.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <router-outlet name="maps"></router-outlet>
    </div>

    <div class="col-md-6">
      <router-outlet name="feeds"></router-outlet>
    </div>
  </div>
</div>




