
.title{
  margin-bottom: 2px;
  font-weight: 900;
  padding-left: 7px;
  color:  darken($color: #131313, $amount: 10%);
  font-size: 32px;
}

.para{
  margin-bottom: 5px;
  margin-left: 20px;
  font-weight: 700;
  padding-left: 7px;
  color: #131313;
  font-size: 24px;
}

.para::before{
  content: " ";
  border: 2px solid #000;
  margin-top: 8px;
  margin-left: -26px;
  position: absolute;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  background-color: #11d8ce;
}


.wrapper{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

